
header img {
    height: 2.4em;
}

nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

.navbar-nav {
    margin-top: -1px;
    margin-right: 20px;
}
.navbar-brand {
    padding: 5px 0 5px 10px;
    height: auto;
}

a {
    text-decoration: none;
    color: #0076c0;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.content li>p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}

.content li, p {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #333;
}

footer #line {
    border-top: 1px solid #d5d5d5;
}

footer ul {
    margin-left: 15px;
    font-size: .8em;
}

ul.posts { 
    margin: 1em auto 2.0em; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    margin-bottom: .25em;
}

.post {
    margin-bottom: 2.0em;
}