---
---

@import "colours";

html {
    font-family: 'Arial', 'Helvetica', 'Sans-Serif';
}

body {
    // font-size: 1.8em;
    // line-height: 1.2em;
    color: $text-colour;
}

header {
  img {
    height: 2.4em;
  }
}

.navbar {
  margin-bottom: 10px;
}
.navbar-nav {
  margin-top: -1px;
  margin-right: 20px;
}
.navbar-brand {
  padding: 5px 0 5px 10px;
  height: auto;
}

nav {
  ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
  }
}

footer {
  margin-top: 0.5em;
  ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: .8em;
    li {
      margin-bottom: .5em;
    }
  }
  #line {
    border-top: 1px solid #d5d5d5;
  }
}

a {
  text-decoration: none;
  color: $link-colour;
  &:hover {
      text-decoration: underline;
      color: $hover-link-colour;
  }
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.0em;
}

h1,h2,h3,h4,h5,h6 {
    color: $heading-colour;
}

ul.posts {
  margin: 1em auto 2.0em;
  font-size: 1.4em;
  posts li {
    list-style: none;
    margin-bottom: .25em;
  }
}

.post {
    margin-bottom: 2.0em;
}

.fill-screen {
    background-size:cover;
    background-position: center;
    height: 295px;
}

.img-responsive {
    margin: 0px auto;
    width: 100%;
}

.jumbotron {
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  color: $heading-colour;
}

@media (min-width: 768px) {
  body {
      font-size: 1.8em;
  }
  h1 {
      font-size: 2.5em;
  }
  .jumbotron {
    padding-bottom: 3.5em;
    padding-top: 3.5em;
  }
  .navbar {
    margin-bottom: 20px;
  }
  li {
    display: inline;
    margin-right: 20px;
  }
  footer {
    margin-top: 1.5em;
  }
}

#welcome {
  margin-top: 2em;
}
