<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/careers">Careers</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {{ content }}
  </div>
  <footer>
    <ul>
      <li><a href="mailto:engineering@cardano.com">email</a></li>
      <li><a href="http://github.com/cardano">github.com/cardano</a></li>
      <li><a href="http://www.cardano.com">www.cardano.com</a></li>
      <li><a href="https://cardano.github.io/blog/atom.xml">rss feed</a></li>
    </ul>
  </footer>
</body>

</html>
