---
layout: default
---
<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}

<h1>{{ page.title }}</h1>
<p class="meta">
  {% if author %}
  <span>
    {% if author.photo and author.web %}
      <a href="{{ author.web }}" target="_blank">
        <img src="{{ author.photo }}">
      </a>
    {% else if author.photo %}
      <img src="{{ author.photo }}">
    {% endif %}
    {% if author.web %}
      <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
    {% else %}
      {{ author.name }}
    {% endif %}
  </span>
  {% endif %}
  {{ page.date | date_to_string }}
</p>


<div class="post">
  {{ content }}
</div>
